@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background: linear-gradient(to right, #fa9393 0%, #91a9f7 100%);
	/* background: rgb(255, 255, 255); */
  }

.resume{
	width: 1000px;
	background: rgb(255, 255, 255);
	margin: auto;
	
  margin-top: 10px;
  margin-bottom: 100px;
  border-radius: 5px;
} 


.name{
	align-items: center;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: xxx-large;
}


.info ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

