
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

  
body{
	background: linear-gradient(to right, #fa9393 0%, #91a9f7 100%);
	/* background: rgb(255, 255, 255); */
	background-image: url("https://dz2cdn1.dzone.com/storage/temp/12482625-pic-scattered-pages-of-old-book.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	transition: background-color 0.2s ease;
	
}

.resume{
	width: 1000px;
	background: rgb(255, 255, 255);
	margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
} 

.name{
	align-items: center;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: xxx-large;
}

.info ul{
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: justify;
	
	
}

.ltext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: justify;
	width: 546px;
}

hr{
  margin: auto;
  margin-top: 5rem;
  width: 950px;
  border-radius: 2px;

}
 
.heading{
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	margin-left: 28px;
	margin-right: 28px;
	
}

.sheading{
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	text-transform: uppercase;
	
}

.heading ul{
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	margin: 0px;
}

.space{
	margin: 6px;
}




  .container {
	margin: 10px auto;
  }
  
  .switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	margin: 0px;
  }
  
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 10px;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
  }
  
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  
  .light-mode .text{
	background-color: #fff;
	color: #000;
  }
  
  .dark-mode .resume {
	background-color: #000;
	color: #fff;
  }
  .dark-mode hr{
	background-color: #fff;
	color: #fff;
  }

